@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/extendsStart';

.main_news {
    @include standardCol(6);
    .news_list {
        @extend %standardList;
        li {
            margin-bottom: 20px;
        }
    }

    .news_block {
        @extend %standardNews;
        overflow: hidden;
        .news_title {
            margin-top: 5px;
            font-size: 200%;
            line-height: 24px;
        }
        .news_category:after {
            @include psevdoAbs;
            top: 0;
            left: 0;
            width: 1000px;
            border-top: 1px solid;
        }
    }

    @extend %standardNewsSkeleton;
    .skeleton li {
        margin-bottom: 20px;
        span {
            height: 24px;
            margin-top: 33px;
            margin-bottom: 20px;
        }
    }
    @include mediaTo($size960) {
        .news_block .news_title {
            font-size: 160%;
            line-height: 19px;
        }
        .skeleton li {
            span {
                height: 19px;
                margin-top: 29px;
                margin-bottom: 15px;
            }
        }
    }
    @include mediaRange($size576, $size768) {
        @include colSize(8)
    }
    @include mediaTo($size576) {
        @include colSize(12);
    }
}

@import '../../assets/scss/extendsEnd';
