@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/extendsStart';

.most_read {
    margin-top: 20px;
    border-top: 3px solid $creamyF3;
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    max-height: 100dvh;
    &:before {
        @include psevdoAbs;
        left: 0;
        width: 70px;
        top: -3px;
        height: 3px;
        background: $primaryColor;
    }
    .section_head {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 5px;
        @include rowMargin;
        .section_title {
            padding-bottom: 20px;
            @include gridPadding;
            
        }
    }
    .tab_btns {
        display: flex;
        border: 1px solid $primaryColor;
        border-radius: 4px;
        margin-bottom: 11px;
        @include overHidden;
        @include gridMargin;
        button {
            border: none;
            background: transparent;
            
            font-family: $bold;
            padding: 5px 10px;
            color: inherit;
            
            &.selected {
                background: $primaryColor;
                color: $white;
                pointer-events: none;
            }
            &:not(:first-child) {
                border-left: 1px solid $primaryColor;
            }
            @extend %all300;
            @extend %smallText;
            @media(hover: hover) {
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
    .news_list {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        @extend %standardList;
        li:first-child .news_block {
            padding-top: 0
        }
    }
    .news_block {
        @extend %inlineNews;
        padding-top: 25px;
    }
    @include mediaTo($size960) {
        .news_block {
            padding-top: 15px;
        }
    }
    @include mediaTo($size576) {
        max-height: none;
        margin-top: 80px;
        .news_list li {
            &:nth-child(n+6) {
                @include animStyle(all 0.3s);
                position: relative;
                overflow: hidden;
                max-height: 400px;
            }
        }
        &:has(.more_btn) .news_list li:nth-child(n+6) {
            max-height: 0;
        }
        .more_btn {
            align-self: flex-start;
            margin-top: 15px;
        }
    }
}

body:not(.touch) {
    .most_read .news_list {
      @include customScroll(6px, 3px, 3px, $creamyF3, $primaryColor);
    }
    .moz .most_read .news_list {
      @include mozScroll(thin, $creamyF3, $primaryColor);
    }
}

@import '../../assets/scss/extendsEnd';
