@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/extendsStart';

.news_feed {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  max-height: calc(100dvh - 20px);
  padding-bottom: 20px;
  overflow: hidden;
  @include standardCol(3);
  .section_title {
      padding-bottom: 20px;
  }
  .news_list {
      @extend %standardList;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
  }
  .news_block {
    @extend %simpleNews;
    padding: 20px 0 15px;
    border-bottom: 1px solid rgba($textColor, 0.5);
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(n+3) {
      order: 2;
    }
  }
  .subscribe_btns {
    display: flex;
    margin: 0 -4px;
    border-bottom: 1px solid rgba($textColor, 0.5);
    padding: 16px 0;
    flex-wrap: wrap;
  }
  .youtube_btn,
  .telegram_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 4px;
    color: $white;
    @extend %middleText;
    @extend %iconElement;
    font-family: $bold;
    @extend %opacityHover;
    padding: 13px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    &:before {
      display: block;
      font-size: 1.6rem;
      margin-right: 8px;
    }
  }
  .youtube_btn {
    background: $youtubeColor;
    &:before {
      content: "\e918";
    }
  }
  .telegram_btn {
    background: $telegramColor;
    &:before {
      content: "\e91a";
    }
  }
  @extend %simpleNewsSkeleton;
  .skeleton li {
    padding: 20px 0 15px;
    border-bottom: 1px solid rgba($textColor, 0.5);
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(3) {
      padding-bottom: 20px;
      display: flex;
      margin: 0 -4px;
      &:before,
      &:after {
        flex: 1;
        margin: 0 4px;
        height: 45px;
        border-radius: 8px;
      }
      &:after {
        content: "";
      }
      span {
        display: none;
      }
    }
  }
  &:before {
    display: block;
    content: "";
    border-top: 3px solid $creamyF3;
    margin-bottom: -3px;
  }
  @include mediaRange($size768, $size960) {
    .news_block {
      padding: 15px 0;
      .news_title {
        font-size: 140%;
        line-height: 17px;
      }
    }
    .subscribe_btns {
      padding: 11px 0;
    }
    .youtube_btn,
    .telegram_btn {
      min-width: 50%;
    }
    .skeleton li {
        padding: 15px 0;
        span {
            height: 17px;
            margin-top: 27px;
            margin-bottom: 13px;
        }
        &:nth-child(3) {
          flex-wrap: wrap;
          padding: 11px 0;
          &:before,
          &:after {
            min-width: 50%;
            margin: 4px;
          }
        }
    }

  }
  @include mediaTo($size768) {
    @include colSize(12);
    position: absolute;
    top: 122px;
    left: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    background: $white;
    z-index: 10;
    padding: 0 $containerMobPadding;
    box-shadow: 0 -2px 3px 0 rgba($black,0.2);
    @include animStyle(opacity 0.3s);
    &:before,
    &:after {
      display: block;
      content: "";
      min-height: 20px;
    }
    .skeleton {
      display: none;
    }
    .section_title {
      display: none;
    }
    &.opened {
      max-height: calc(100dvh - 122px);
      opacity: 1;
    }
    .news_date {
      font-family: $bold;
    }
  }
}

body:not(.touch) {
  .news_feed .news_list {
    @include customScroll(6px, 3px, 3px, $creamyF3, $primaryColor);
    .news_block,
    .subscribe_btns {
      padding-right: 4px;
    }
  }
  .moz .news_feed .news_list {
    @include mozScroll(thin, $creamyF3, $primaryColor);
  }
}

@include mediaTo($size768) {
  body:has(.news_feed.opened) {
    overflow: hidden;
    .feed_btn {
      background: $activeBg;
      &:after {
        border-top-color: $activeBg;
      }
    }
  }
}

@import '../../assets/scss/extendsEnd';
